<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!states"><em>Loading...</em></p>


  <div class="form-group">
    <div class="row">
      <div class="alert-danger" asp-validation-summary="ModelOnly"></div>
      <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
        <label class="control-label"> State Name</label>

        <select id="StateId" name="StateId"  [(ngModel)]="stateId"
                class="form-control" (change)="GetCity($event.target.value)">
          <option *ngFor="let state of states" value={{state.stateId}}>{{state.stateName}}</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="alert-danger" asp-validation-summary="ModelOnly"></div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
      <label class="control-label"> City Name</label>

      <select id="CityId" name="CityId"  [(ngModel)]="cityId"
              class="form-control" (change)="GetConstituency($event.target.value)">
        <option *ngFor="let city of cities" value={{city.cityId}}>{{city.cityName}}</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="alert-danger" asp-validation-summary="ModelOnly"></div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
      <label class="control-label"> Constituency Name</label>

      <select id="ConsId" name="ConsId"  [(ngModel)]="consId"
              class="form-control" (change)="GetWardNo($event.target.value)">
        <option *ngFor="let cons of constituencies" value={{cons.constituencyId}}>{{cons.constituencyName}}</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="alert-danger" asp-validation-summary="ModelOnly"></div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
      <label class="control-label"> Ward Number</label>

      <select id="WardId" name="WardId"  [(ngModel)]="wardId"
              class="form-control" (change)="GetWardNoDetails($event.target.value)">
        <option *ngFor="let ward of wards" value={{ward.wardNumberId}}>{{ward.wardNumber}}</option>
      </select>
    </div>
  </div>

  <div class="row">
    <div class="alert-danger" asp-validation-summary="ModelOnly"></div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
      <label class="control-label">Full Name</label>
      <input class="form-control"  value="" name="fullName" [(ngModel)]="fullName" placeholder="Full Name"  />
    </div>
  </div>

  <div class="row">
    <div class="alert-danger" asp-validation-summary="ModelOnly"></div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
      <label class="control-label">Father Name</label>
      <input class="form-control" #ref type="text" value="" name="fatherName" [(ngModel)]="fatherName" placeholder="Father Name"/>
    </div>
  </div>

  <div class="row">
    <div class="alert-danger" asp-validation-summary="ModelOnly"></div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
      <label class="control-label">DOB</label>
      <input class="form-control" #ref type="date" value="" name="dob" [(ngModel)]="dob" placeholder="DOB"  />
    </div>
  </div>

  <div class="row">
    <div class="alert-danger" asp-validation-summary="ModelOnly"></div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
      <label class="control-label">Email</label>
      <input class="form-control" #ref type="text" value="" name="Email" [(ngModel)]="email" placeholder="Email"  />
    </div>
  </div>

  <div class="row">
    <div class="alert-danger" asp-validation-summary="ModelOnly"></div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
      <label class="control-label">Phone Number</label>
      <input class="form-control" #ref type="text" value="" name="PhoneNumber" [(ngModel)]="phone" placeholder="PhoneNumber"  />
    </div>
  </div>


  <div class="row">
    <div class="alert-danger" asp-validation-summary="ModelOnly"></div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4">
      <input id="Submit1" type="submit" value="submit" (click)="SubmitMe()" />
    </div>
  </div>




